<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>controladores.inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>controladores.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nuevousuario</servlet-name>
        <servlet-class>controladores.nuevousuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controladores.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprarproducto</servlet-name>
        <servlet-class>controladores.comprarproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmacion</servlet-name>
        <servlet-class>controladores.confirmacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarcarrito</servlet-name>
        <servlet-class>controladores.eliminarcarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelarped</servlet-name>
        <servlet-class>controladores.cancelarped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarusuario</servlet-name>
        <servlet-class>controladores.modificarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bloquear</servlet-name>
        <servlet-class>controladores.bloquear</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nuevousuario</servlet-name>
        <url-pattern>/nuevousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprarproducto</servlet-name>
        <url-pattern>/comprarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmacion</servlet-name>
        <url-pattern>/confirmacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarcarrito</servlet-name>
        <url-pattern>/eliminarcarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelarped</servlet-name>
        <url-pattern>/cancelarped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarusuario</servlet-name>
        <url-pattern>/modificarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bloquear</servlet-name>
        <url-pattern>/bloquear</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
