@font-face {
    font-family: titulo;
    src: url("font/Playlist-Script.woff");
  }
.letra{
    font-family:titulo;
    font-size: 200%;
    color: black;
}
.barra{
  background-color: peachpuff;
}
.fondo{
  background-color: rgb(145, 121, 93);
}
.letra:hover{
  font-family:titulo;
  font-size: 200%;
  color: black;
  text-decoration: none;
}
