@font-face {
    font-family: titulo;
    src: url("font/Playlist-Script.woff");
  }
.letra{
    font-family:titulo;
    font-size: 200%;
    color: black;
}
.barra{
  background-color: peachpuff;

}
.pegajoso{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
.zpos{
  z-index: 0;
}
.fondo{
  background-color: rgb(145, 121, 93);
}
.letra:hover{
  font-family:titulo;
  font-size: 200%;
  color: black;
  text-decoration: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color:  rgb(206, 175, 147);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #2e2e2e;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sombras{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678), 0 6px 20px 0 rgba(0, 0, 0, 0.452);
}
.imagenes{
  width: 720;
  height: 960;
}