@font-face {
    font-family: titulo;
    src: url("font/Playlist-Script.woff");
  }
.letra{
    font-family:titulo;
    font-size: 200%;
    color: black;
}
.barra{
  background-color: peachpuff;

}
.modal-dialog{
    z-index: 1041;
}
.footer{
  background-color: rgb(88, 78, 70);
}
.pegajoso{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
.zpos{
  z-index: 0;
}
.fondo{
  /* background-color: rgb(145, 121, 93); */
  background-image: url("fondo.png");
  /* background-repeat: no-repeat; */
  /*background-attachment: fixed; */
  text-overflow: ellipsis;
  max-width: 1920px;
  margin: auto;
  /* background-size: cover; */
}
.jumbo{
  background-color: rgba(173, 152, 128, 0.63);

}
.letra:hover{
  font-family:titulo;
  font-size: 200%;
  color: black;
  text-decoration: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color:  rgb(206, 175, 147);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #2e2e2e;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sombras{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678), 0 6px 20px 0 rgba(0, 0, 0, 0.452);
}
.imagenes{
  width: 720;
  height: 960;
  max-width: 720;
  max-height: 960;
}
.link{
  color: black;
  text-decoration: none;
}
.link:hover{
  color: black;
  text-decoration: none;
}
.comprar{
  font-size: large;
}
.truncar{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}
.tarjeta{
  background-color: antiquewhite;
}
.sombreado li{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678), 0 6px 20px 0 rgba(0, 0, 0, 0.452);
}

.login {
  width: 400px;
  margin: 16px auto;
  
}
.aver{
    z-index: 0;
}
